@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

a {
    display: inline-block;
}

img {
    display: inline-block;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

sup {
    font-size: 0.65em;    
}

.main {
    width: 100%;
}

.wrapper {
    width: 600px;
}

.header img {
    background-color: #333333;
}

.head-shaddow {
    background-color: #f5f9fb;
    vertical-align: top;
}

.user {
    background-image: url('https://raw.githubusercontent.com/shytuleva24/hastag/master/img/hastag2.jpg');
    background-color: #f5f9fb;
    vertical-align: top;
}

.user h1 {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #333333;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 21px;
    font-weight: 700;
}

.application,
.user span {
    width: 74%;
    color: #748098;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.user h2 {
    padding-top: 38px;
    padding-bottom: 20px;
    color: #169ab5;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 21px;
}

.user-info {
    padding-left: 30px;
    color: #333333;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.registration-errors {
    padding-top: 16px;
    padding-bottom: 18px;
    color: #748098;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
}

.call {
    background-color: #f5f9fb;
}

.top {
    vertical-align: top;
}

.call h2 {
    padding: 25px;  
    background-image: url('https://raw.githubusercontent.com/shytuleva24/hastag/master/img/call.jpg');  
    background-color: #1599b5;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #f6fafb;
    font-weight: 700;
}

.start-soon h2 {
    padding-top: 25px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #333333;
    font-weight: 700;
}

.courses {
    height: 73px;
    width: 553px;
    margin-top: 21px;
    background-color: #eaeaea;
    background-image: url('https://raw.githubusercontent.com/shytuleva24/hastag/master/img/cources.jpg');
}

.courses h5 {
    letter-spacing: 1px;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
}

.courses a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #169ab5;
    font-weight: 600;
}

.logo-corse {
    width: 17%;
    padding-left: 25px;
}

.course-name {
    width: 55%;
}

.social .text {
    padding-top: 40px;
    font-size: 24px;
    line-height: 45px;
    color: #333333;
    font-weight: 700;
}

.social a {
    padding-top: 10px;
    padding-right: 10px;
}

.footer a {
    /* margin-top: -10px; */
}